* {
  margin: 0;
  padding: 0;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #353740;
  width: 100%;
  height: 100vh;
  z-index: 0;
}
.chatWindow {
  width: 50%;
  height: 90vh;
  background-color: #353740;
  z-index: 1;
}
.input {
  align-items: center;
  justify-content: center;
  display: flex;
  position: sticky;
  bottom: 0%;
  width: 100%;
  background-color: #353740;
  height: 90px;
  z-index: 1;
}
.container {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  width: 50%;
  /* background-color: red; */
}
.input input {
  width: 100%;
  margin: auto;
  border: 1px solid #353740;
  border-radius: 10px;
  padding: 20px;
  background-color: #40414f;
}
.container img {
  width: 20px;
  height: 20px;
  position: absolute;
  right: 10px;
  filter: invert(50%);
}
.message {
  display: flex;
  flex-direction: row;
  color: #d1d5db;
  font-size: 16px;
  /* font-style: ; */
}
.message-dark {
  background-color: #353740;
}
.message-light {
  background-color: #6e6e80;
}
.message .container {
  width: 70%;
  float: left;
}
.message img {
  width: 30px;
  height: 30px;
}
